<p id="notice"><%= notice %></p>

<table>
  <strong>Title:</strong>
  <%= @post.title %>
  <%= Random.rand(1...10); %>
</table>

<table>
  <strong>Body:</strong>
  <%= @post.body %>
</table>

<table>
  <strong>Published:</strong>
  <%= @post.published %>
</table>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
